:root{
  --light-sky-blue: #87cefa; 
  --light-cyan: #e0ffff;
  --navy: #000080

  --primary:var(var(--light-cyan));
  --secondary:var(var(--navy));
}

body {
  background-color: var(--primary);
}
.light {
  background-color: lightcyan;
  color: navy;
}

.dark {
  background-color: navy;
  color: lightcyan;
}
.navbar {
  color: navy;
  height: 12rem;
  border: 1rem;
  border-width: 0.1rem;
  border-color: navy;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-style: solid;
  box-shadow: 1px 1px 18px 1px gray;
}

.navbar-title {
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
  text-shadow: 2px 2px 3px navy;
}

.navbar-btn {
  text-align: center;
  font-size: 3.5rem;
  width: 12rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.navbar-btns li {
  display: inline-block;
}

.navbar-btn:hover {
  transform: scale(1.1);
  background-color: navy;
  color: lightcyan;
  border-radius: 3rem;
  transition-duration: 0.3s;
}

.theme {
  background-color: navy;
  color: lightcyan;
  font-size: 2rem;
  border-radius: 3rem;
  height: 5rem;
  width: 10rem;
}

.light{
  background-color: lightcyan;
  color: navy;
}

.dark{
  background-color: navy;
  color: lightcyan;
}

.header-background {
  background-image: url(img/bridge.jpg); 
  background-size: cover;
}

.header-background2{
  background-image: url(img/nyc4.jpg); 
  background-size: cover;
}