html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Source Serif 4", sans-serif;
}

.header-title {
  font-family: "Monoton", cursive;
}
.navbar-list {
  list-style: none;
  display: inline-block;
}
.navbar-list li {
  display: inline-block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
