html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.title {
  font-size: 8rem;
  text-align: center;
  font-family: "Monoton", cursive;
  height: 60rem;
  color: #ffffff;
  position: relative;
  top: 40rem;
  text-shadow: black 3px 5px;
}
.heading {
  color: white;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  height: 6rem;
  position: relative;
  font-family: "Source Serif Pro", serif;
  background-color: black;
  margin-top: 15rem;
  margin-bottom: 15rem;
  border-radius: 3rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.boroughsImage {
  width: 30rem;
  height: 30rem;
  display: block;
  margin-top: 4rem;
}
.cardImage {
  width: 48rem;
  height: 30rem;
  opacity: 0.8;
  border-radius: 3rem;
}
.cardImage:hover {
  transition-duration: 0.3s;
  opacity: 1;
}
.card {
  margin-bottom: 4rem;

  width: 48rem;
  border-radius: 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  border: black;
  border-width: 2px;
}
.card:hover {
  transition-duration: 0.5s;
}
.cardDescription {
  font-size: 1.5rem;
}
.Title {
  font-size: 2.3rem;
  text-align: center;
  text-decoration: underline;
}

@media only screen and (max-width: 1460px) {
  .heading {
    width: 50%;
  }
  .card {
    width: 45rem;
  }
  .Title {
    font-size: 1.6rem;
  }
  .cardDescription {
    font-size: 1.1rem;
  }
  .cardImage {
    width: fit-content;
    height: fit-content;
  }
  .flex {
    flex-direction: column;
  }
}
