@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  --light-sky-blue: #87cefa; 
  --light-cyan: #e0ffff;
  --navy: #000080

  --primary:var(var(--light-cyan));
  --secondary:var(var(--navy));
}

body {
  background-color: var(--primary);
}
.light {
  background-color: lightcyan;
  color: navy;
  --primary: var(--light-sky-blue);
}

.dark {
  background-color: navy;
  color: lightcyan;
  --primary: var(--navy);
}
.title {
  font-size: 8rem;
  text-align: center;
  font-family: "Monoton", cursive;
  height: 60rem;
  color: lightcyan;
  position: relative;
  top: 40rem;
  text-shadow: navy 3px 5px;
}
.heading {
  color: lightcyan;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  height: 6rem;
  position: relative;
  font-family: "Source Serif Pro", serif;
  background-color: navy;
  margin-top: 20rem;
  margin-bottom: 15rem;
  border-radius: 3rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.boroughsImage {
  width: 30rem;
  height: 30rem;
  display: block;
  margin-top: 4rem;
}
.cardImage {
  width: 48rem;
  height: 30rem;
  border-radius: 1.5rem;
}
.card {
  margin-bottom: 4rem;
  width: 48rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.card:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}
.cardDescription {
  font-size: 1.5rem;
}
.Title {
  font-size: 2.5rem;
}
