:root{
  --light-sky-blue: #87cefa; 
  --light-cyan: #e0ffff;
  --navy: #000080
  --black: #000000
  --white: #ffffff
  --grey: #262626
  --green: #A3E7a2
 
  --primary:var(var(--white));
  --secondary:var(var(--navy));
}

.light {
  background-color: var(--white);
  color: var(--black);
  --primary: var(--white);
}
 
.dark {
  background-color: #262626;
  color: #A3E7a2;
  --secondary: var(--grey);
}