@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: slateblue;
}

.title {
  font-size: 7rem;
  text-align: center;
  font-family: "Monoton", cursive;
  font-weight: 500;
  height: 60rem;
  margin-top: 30rem;
  color: white;
}

.navbar {
  border: 2rem;
  height: 12rem;
  border-style: double;
  background-color: cornsilk;
  border-color: azure;
  font-family: "Source Serif Pro", serif;
  opacity: 0.75;
  width: 100%;
}

.navbar-title {
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.navbar-btn {
  text-align: left;
  font-size: 3.5rem;
  margin-left: 7rem;
  margin-top: -1rem;
}

.navbar-btns li {
  display: inline-block;
}

.navbar-btn:hover {
  transform: scale(1.1);
}

.heading {
  color: white;
  font-size: 10rem;
  text-align: center;
  font-weight: 1000;
  height: 50rem;
  font-family: "Source Serif Pro", serif;
}

.boroughs-img {
  width: 50rem;
  height: 50rem;
  margin-top: -30rem;
  margin-left: 25rem;
}
