@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: white;
}
.title {
  font-size: 9rem;
  text-align: center;
  font-family: "Monoton", cursive;
  height: 60rem;
  color: white;
  position: relative;
  top: 40rem;
}

.navbar {
  height: 12rem;
  border-style: solid;
  font-family: "Source Serif Pro", serif;
  position: fixed;
  width: 100%;
  text-align: center;
}

.navbar-title {
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.navbar-btn {
  text-align: center;
  font-size: 3.5rem;
  width: 12rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.navbar-btns li {
  display: inline-block;
}

.navbar-btn:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;

  border-radius: 3rem;
  transition-duration: 0.3s;
}

.heading {
  color: black;
  font-size: 10rem;
  text-align: center;
  font-weight: 500;
  height: 50rem;
  position: relative;
}

.boroughs-img {
  width: 50rem;
  height: 50rem;
  margin-top: -30rem;
  margin-left: 25rem;
}
