@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: azure;
}

.title {
  font-size: 7rem;
  text-align: center;
  font-family: "Monoton", cursive;
  font-weight: 500;
}

.navbar {
  border: 2rem;
  height: 12rem;
  border-style: double;
  background-color: cornsilk;
  border-color: azure;
  font-family: "Source Serif Pro", serif;
}

.navbar-title {
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.navbar-btn {
  text-align: left;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.navbar-btn li {
  display: inline-block;
}
